.navbar {
  background-color: #C19033;
  height: 140px;
  z-index: 1; }

.brand {
  display: flex;
  justify-content: space-between;
  width: 20%; }

.secondBrand {
  display: flex;
  justify-content: space-around;
  width: 30%;
  flex-wrap: wrap; }

#hamburger {
  background-color: #C19033; }

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 130px;
  flex-wrap: wrap; }
  .navbar-wrapper .hamburger-wrapper {
    display: flex; }
    .navbar-wrapper .hamburger-wrapper i {
      font-size: 45px; }

.header-bar {
  z-index: 1;
  position: relative; }
  .header-bar::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }

.input-runa {
  border-radius: 50px;
  outline: none;
  box-shadow: none;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.38);
  width: 500px;
  height: 40px;
  font-size: 20px;
  padding: 7px 0;
  padding-left: 19px; }
  .input-runa::placeholder {
    color: #fff; }

.input-buscando-wrapper i {
  right: 15px;
  top: 12px;
  color: #fff; }

.login-wrapper i {
  font-size: 30px; }

.logo-wrapper a img {
  width: 200px; }

.btn-runa {
  background-color: #fff !important;
  color: #AE8636 !important;
  padding: 0 11px !important; }

.btn-runa-inverted {
  background-color: #AE8636 !important;
  color: #fff !important;
  padding: 0 11px !important; }

.carrito-wrapper {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 420ms; }
  .carrito-wrapper i {
    font-size: 40px; }
  .carrito-wrapper:hover {
    background-color: #313131; }

.counter-wrapper {
  right: -5px;
  top: -17px;
  background-color: #D03030;
  border-radius: 200px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; }
  .counter-wrapper span {
    font-size: 13px;
    color: #fff; }

.logo-banner {
  width: 418px;
  height: 186px; }

.fs-72 {
  font-size: 72px; }

.fs-72 {
  font-size: 62px; }

@media (max-width: 720px) {
  .logo-wrapper a img {
    width: 140px; }
  .carrito-wrapper i {
    font-size: 20px; }
  .counter-wrapper {
    right: -5px;
    top: -10px;
    background-color: #D03030;
    border-radius: 200px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px; }
    .counter-wrapper span {
      font-size: 13px;
      color: #fff; }
  .btn-runa {
    font-size: 13px;
    background-color: #fff !important;
    color: #AE8636 !important;
    padding: 0 11px !important; }
  .brand {
    width: 200px !important; }
  .secondBrand {
    width: 200px !important; }
  .logo-banner {
    width: 318px;
    height: 136px; } }

.sidebar-wrapper {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 500px;
  z-index: 100;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px; }
  .sidebar-wrapper li {
    cursor: pointer;
    overflow: hidden;
    transition: all 420ms; }
    .sidebar-wrapper li:hover {
      color: #C97721; }

.arrow-wrapper {
  position: absolute;
  right: 110px; }

.cross-wrapper {
  margin-left: 88%;
  margin-top: 6%;
  cursor: pointer; }

@media (max-width: 650px) {
  .sidebar-wrapper {
    width: 300px !important; } }

.middle-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 85% !important;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 42%;
  left: 3px;
  padding: 5px;
  color: #fff; }
  .middle-text span {
    font-size: 20px; }

.categoryList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%; }
  .categoryList div {
    width: 23%;
    margin: 10px  1% 10px 1%; }
    .categoryList div div {
      width: 100%; }
  .categoryList img {
    border-radius: 25px;
    width: 90%;
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-clip: border-box; }

.categoryTitle {
  display: flex;
  width: 80%; }

@media (max-width: 1410px) {
  .categoryList div {
    width: 300px; }
    .categoryList div img {
      height: 300px; }
    .categoryList div span {
      font-size: 17px; }
  .categoryTitle h3 {
    font-size: 20px !important; } }

.fondo-color {
  width: 100%;
  height: 25%;
  background-color: #E26767;
  border-radius: 5px;
  display: flex;
  justify-content: center; }

.marca {
  width: 23%;
  margin: 10px  1% 10px 1%; }

.logo-marca {
  width: 130px;
  height: 130px;
  margin-top: 4px; }

.marcasContainer {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.imageMarcas {
  width: 100%; }

@media (max-width: 1180px) {
  .marca {
    width: 260px; } }

footer {
  background-color: #1F1F1F;
  min-height: 250px; }

.hover-links:hover {
  transition: all 420ms;
  color: #C97721 !important; }

.hover-redes:hover i {
  transition: all 420ms;
  color: #C97721 !important; }

ul {
  list-style: none; }
  ul button {
    background-color: #1F1F1F; }

.banner-categoria {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%; }

.middle-text-categoria {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 42%;
  left: 0px;
  padding: 0px auto;
  padding-left: 45%;
  line-height: 80px;
  font-size: 31px;
  color: #fff;
  background-color: rgba(243, 49, 49, 0.4); }

.productos-section {
  background-color: #C19033; }

.productos-container {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #DEC493;
  min-height: 600px !important; }

.productsSubContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; }
  .productsSubContainer .product {
    display: flex;
    align-items: center;
    width: 25%;
    margin: 50px 0 50px 0; }
    .productsSubContainer .product .subProduct {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 500px;
      width: 100%; }
      .productsSubContainer .product .subProduct .productImgContainer {
        height: 250px; }
        .productsSubContainer .product .subProduct .productImgContainer img {
          width: 200px;
          height: 200px;
          border-radius: 10px; }
      .productsSubContainer .product .subProduct .product-detail {
        margin: 30px 0 30px 0; }

.categorySelection li {
  padding: 0; }
  .categorySelection li .ulFilter {
    position: absolute;
    z-index: 1;
    display: none;
    width: 300px;
    right: 170px;
    height: 600px;
    overflow-y: scroll;
    background-color: rgba(193, 144, 51, 0.6);
    border-radius: 10px; }
    .categorySelection li .ulFilter li {
      padding: 0;
      margin: 8px 10px 8px 0;
      background-color: rgba(193, 144, 51, 0);
      border-radius: 5px;
      color: #444444;
      font-size: 17px;
      font-weight: 600;
      transition: all 0.3s; }
      .categorySelection li .ulFilter li:hover {
        border: 2px solid #444444;
        background-color: white; }

li:hover .ulFilter {
  display: block; }

@media (max-width: 1000px) {
  .product {
    width: 250px !important;
    margin: 30px 0 30px 0; }
    .product .subProduct {
      height: 350px !important; } }

@media (max-width: 680px) {
  .ulFilter {
    right: 50px !important;
    height: 500px !important; } }

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .formContainer h2, .formContainer h3 {
    width: 100%;
    text-align: center; }
  .formContainer nav {
    border: 8px solid rgba(193, 144, 51, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 50%; }
    .formContainer nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0%;
      height: 100%;
      width: 100%;
      margin: 0; }
      .formContainer nav ul li {
        text-align: center;
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer; }
  .formContainer .loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 7px solid rgba(193, 144, 51, 0.4);
    border-radius: 50px;
    padding: 0 60px 0 60px;
    margin: 30px 0 30px 0;
    height: 970px;
    width: 50%; }
    .formContainer .loginForm .loginGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0 5px 0; }
      .formContainer .loginForm .loginGroup .places, .formContainer .loginForm .loginGroup .place {
        width: 80%;
        height: 55px;
        padding: 5px;
        border: 1px solid #bdbdbd;
        border-radius: 6px;
        transition: all 0.2s; }
        .formContainer .loginForm .loginGroup .places:hover, .formContainer .loginForm .loginGroup .place:hover {
          box-shadow: 1px 1px 10px #478dff; }
      .formContainer .loginForm .loginGroup .subYes {
        padding: 15px;
        border: none;
        background-color: #1e98fb;
        font-weight: bold;
        color: white;
        border-radius: 5px;
        transition: all 0.2s; }
        .formContainer .loginForm .loginGroup .subYes:hover {
          box-shadow: 1px 1px 10px #478dff; }

.contentAddButton {
  display: flex;
  flex-direction: row;
  margin: 30px 0 30px 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  .contentAddButton h3 {
    margin: 20px 0 20px 0;
    width: 80%; }

form {
  width: 70%;
  padding: 60px 0 60px 0; }
  form .formGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px; }
  form .subyesContainer {
    display: flex;
    justify-content: center;
    width: 100%; }

/*BORRAR ITEMS*/
.ulDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .ulDelete .buttonDelete {
    padding: 5px;
    background-color: #df4b4b;
    font-weight: bold;
    color: white; }

@media (max-width: 920px) {
  .loginForm {
    width: 100% !important; }
    .loginForm .place {
      width: 100% !important; } }

@media (max-width: 400px) {
  h2, h3 {
    font-size: 20px !important; }
  .places {
    font-size: 16px !important;
    max-width: 170px; } }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.detailContent, .itemImages, .itemDescription, .itemPrice, .buttonContainer, .itemButtons, .detailButtonContent {
  display: flex; }

.detailContent {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0; }
  .detailContent .detailButtonContent {
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-evenly; }
    .detailContent .detailButtonContent h2 {
      margin: 30px 0 30px 0;
      width: 40%; }

.itemImages {
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap; }
  .itemImages img {
    border-radius: 23px;
    width: 400px;
    height: 400px; }

.itemDescription {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  justify-content: center;
  margin: 30px 0 30px 0; }

.itemPrice {
  flex-direction: row;
  font-weight: bold;
  font-size: 24px; }
  .itemPrice span {
    color: #5e9428; }

.itemButtons {
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 50px 0 50px 0;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold; }

.buttonContainer {
  border: 2px solid lightgray;
  flex-direction: row;
  border-radius: 10px; }
  .buttonContainer p, .buttonContainer button {
    border: none;
    padding: 25px; }
  .buttonContainer .menos {
    color: white;
    background-color: #eb4646;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .buttonContainer .mas {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #88eb46; }

@media (max-width: 800px) {
  .itemImages {
    justify-content: center;
    width: 200px;
    height: auto;
    flex-wrap: wrap; }
    .itemImages img {
      border-radius: 23px;
      width: 300px; }
  .detailButtonContent {
    width: 300px !important;
    justify-content: space-around; }
    .detailButtonContent h2 {
      width: 80% !important; } }

.cartContainer {
  height: auto;
  min-height: 600px;
  width: 100%;
  list-style: none;
  padding: 0%; }
  .cartContainer h3 {
    width: 60%;
    text-align: center;
    margin-top: 50px; }
  .cartContainer li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 8px solid rgba(193, 144, 51, 0.2);
    border-radius: 10px;
    margin: 30px 0 30px 0; }
    .cartContainer li img {
      justify-content: center;
      border-radius: 10px; }
    .cartContainer li .cartInfo {
      height: auto;
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: center; }
      .cartContainer li .cartInfo p {
        font-size: 23px;
        font-weight: bold;
        color: #3b3b3b; }
  .cartContainer .cartButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 50px 0 50px 0;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold; }
  .cartContainer .cartButtonContainer {
    display: flex;
    border: 2px solid lightgray;
    flex-direction: row;
    border-radius: 10px; }
    .cartContainer .cartButtonContainer p, .cartContainer .cartButtonContainer button {
      border: none;
      padding: 20px; }
    .cartContainer .cartButtonContainer .cartMenos {
      display: flex;
      color: white;
      background-color: #eb4646;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .cartContainer .cartButtonContainer .cartMas {
      display: flex;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      background-color: #88eb46; }
  .cartContainer .finalPrice {
    border: none;
    border-bottom: 8px solid rgba(243, 108, 108, 0.5);
    font-size: 30px;
    text-align: center; }
  .cartContainer .btnFinal {
    border: none;
    display: flex;
    justify-content: center; }
    .cartContainer .btnFinal button {
      margin: 5px; }
    .cartContainer .btnFinal .btnCompra {
      padding: 10px;
      font-size: 20px;
      background-color: #0084ff;
      border-radius: 6px;
      color: white;
      transition: all 0.5s; }
      .cartContainer .btnFinal .btnCompra:hover {
        background-color: #6cb7fd; }
    .cartContainer .btnFinal .btnVaciar {
      padding: 10px;
      font-size: 20px;
      background-color: #ff5c5c;
      border-radius: 6px;
      color: white;
      transition: all 0.5s; }
      .cartContainer .btnFinal .btnVaciar:hover {
        background-color: red; }

.buyForm, .formContent, .inputContainer, .buyFormGroup, .contentTitleBuyForm {
  display: flex; }

.contentTitleBuyForm {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly; }
  .contentTitleBuyForm h3 {
    width: 70%;
    padding-top: 40px;
    font-weight: bold;
    font-size: 35px !important; }

.formContent {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px; }
  .formContent .buttComprar {
    width: 200px; }

.buyForm {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%; }
  .buyForm .inputContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
  .buyForm .buyFormGroup {
    flex-direction: column;
    width: 48%;
    margin: 20px 1% 20px 1%; }
    .buyForm .buyFormGroup label {
      width: 100%; }
    .buyForm .buyFormGroup input {
      border-radius: 10px;
      padding: 5px;
      border: 1px solid #c7c7c7;
      transition: all 0.5s; }
      .buyForm .buyFormGroup input:hover {
        box-shadow: 1px 1px 10px #2e7eff; }

.sendButton {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2c8cfa;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.5s; }
  .sendButton:hover {
    background-color: #74adf0; }

@media (max-width: 1000px) {
  .buyFormGroup {
    width: 100% !important;
    margin: 20px 0 20px 0 !important; } }

.buyModal, .buyInfo, .itemsModalContent, .closeButtonContent, .buyItem {
  display: flex; }

.buyModal {
  justify-content: center;
  z-index: 1;
  background-color: rgba(93, 93, 93, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 10px;
  overflow: hidden;
  font-weight: bold;
  color: #585858; }
  .buyModal .buyDescription {
    font-size: 20px;
    margin: 20px; }
  .buyModal .buyInfo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 80%;
    width: 60%;
    margin-top: 20px; }
  .buyModal .closeButtonContent {
    width: 100%;
    justify-content: end; }
    .buyModal .closeButtonContent button {
      padding: 20px;
      font-size: 20px;
      border-radius: 10px;
      background-color: #f13e3e;
      font-weight: bold;
      color: white;
      transition: all 0.5s; }
      .buyModal .closeButtonContent button:hover {
        background-color: red; }
  .buyModal .itemsModalContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll; }
  .buyModal .buyItem {
    flex-wrap: wrap;
    border: 4px solid rgba(193, 144, 51, 0.3);
    width: 100%;
    flex-direction: row;
    justify-content: space-around; }
  .buyModal .sendButton {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2c8cfa;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s; }
    .buyModal .sendButton:hover {
      background-color: #74adf0; }

@media (max-width: 779px) {
  .buyInfo {
    width: 90% !important; } }

.sellUl, .sell, .contentButton {
  display: flex; }

.contentButton {
  margin: 30px 0 30px 0;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .contentButton .sellTitle {
    margin: 40px 0 20px 0;
    width: 80%; }

.sellUl {
  width: 100%;
  padding: 0%;
  flex-direction: column;
  align-items: center; }
  .sellUl .sell {
    justify-content: center;
    margin: 30px 0 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding: 40px 0 40px 0;
    border: 6px solid rgba(159, 195, 253, 0.5);
    border-radius: 20px; }
    .sellUl .sell h3 {
      width: 40%; }
    .sellUl .sell p {
      width: 40%;
      font-size: 20px; }
    .sellUl .sell button {
      margin: 3px;
      padding: 15px; }
    .sellUl .sell .delSell {
      background-color: #ff5d5d;
      font-weight: bold;
      color: white;
      border-radius: 10px; }
    .sellUl .sell .viewSell {
      background-color: #3fa5f8;
      font-weight: bold;
      color: white;
      border-radius: 10px; }

.sellItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgba(193, 144, 51, 0.2);
  border-radius: 20px;
  width: 80%; }
  .sellItemContent .sellItemData h3 {
    font-size: 40px; }
  .sellItemContent .sellItemData p {
    color: #5a5a5a;
    font-size: 25px;
    font-weight: bold; }

.sellProduct {
  font-size: 25px;
  border: 8px solid rgba(190, 190, 190, 0.7);
  margin: 15px 0 15px 0;
  border-radius: 20px;
  padding: 20px; }

@media (max-width: 960px) {
  .sell {
    width: 100% !important; }
    .sell p, .sell h3 {
      width: 100% !important;
      text-align: center; } }

@media (max-width: 650px) {
  .sellItemContent {
    width: 100% !important; }
    .sellItemContent .sellItemData h3 {
      font-size: 20px !important; }
    .sellItemContent .sellItemData p {
      color: #5a5a5a;
      font-size: 16px !important;
      font-weight: bold; } }

.backButtom {
  font-size: 100px;
  font-weight: bold;
  padding: 0px;
  color: #3d3d3d; }

.info {
  width: 100%;
  min-height: 600px;
  height: auto;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.infoTextContent {
  display: flex;
  flex-direction: column; }
  .infoTextContent .infoText {
    margin: 50px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 100px; }
    .infoTextContent .infoText h3 {
      font-size: 38px; }
    .infoTextContent .infoText p {
      font-size: 25px; }

button {
  border: none;
  background-color: none; }

html {
  font-family: 'Raleway', sans-serif; }

p {
  margin-bottom: 0px !important; }

.decoration-none {
  text-decoration: none; }

a {
  text-decoration: none;
  color: #2c2c2c; }
  a:hover {
    color: #2c2c2c; }

.pointer {
  cursor: pointer; }

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

.font-runa {
  color: #B87800; }
