.sellUl, .sell, .contentButton{
    display: flex;
}

.contentButton{
    margin: 30px 0 30px 0;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    .sellTitle{
        margin: 40px 0 20px 0;
        width: 80%;
    }
}

.sellUl{
    width: 100%;
    padding:  0%;
    flex-direction: column;
    align-items: center;
    .sell{
        justify-content: center;
        margin: 30px 0 30px 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        padding: 40px 0 40px 0;
        border: 6px solid rgba(159, 195, 253, 0.5);
        border-radius: 20px;
        h3{
            width: 40%;
        }
        p{
            width: 40%;
            font-size: 20px;
        }
        button{
            margin: 3px;
            padding: 15px;
        }
        .delSell{
            background-color: rgb(255, 93, 93);
            font-weight: bold;
            color: white;
            border-radius: 10px;
        }
        .viewSell{
            background-color: rgb(63, 165, 248);
            font-weight: bold;
            color: white;
            border-radius: 10px;
        }
    }
}


///-------------------sellItem------------------------------------

.sellItemContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgba(193,144,51, 0.2);
    border-radius: 20px;
    width: 80%;

    .sellItemData{
        
        h3{
            font-size: 40px;
        }
        p{
            color: rgb(90, 90, 90);
            font-size: 25px;
            font-weight: bold;
        }
    }
}

.sellProduct{
    font-size: 25px;
    border: 8px solid rgba(190, 190, 190, 0.7);
    margin: 15px 0 15px 0;
    border-radius: 20px;
    padding: 20px;
}

@media(max-width: 960px){

    .sell{
        width: 100% !important;
        p,h3{
            width: 100% !important;
            text-align: center;
        }
    }
}

@media(max-width: 650px){

    .sellItemContent{
        width: 100% !important;
    .sellItemData{
        h3{
            font-size: 20px !important;
        }
        p{
            color: rgb(90, 90, 90);
            font-size: 16px !important;
            font-weight: bold;
        }
    }
   }
}