.sidebar-wrapper
{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 500px;
    z-index: 100;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    li 
    {
        cursor: pointer;
        overflow: hidden;
            transition: all 420ms;
            &:hover
            {
                color: #C97721;
            }
        
    }
}
.arrow-wrapper
{
    position:  absolute;
    right: 110px;
}

.cross-wrapper
{
    margin-left: 88%;
    margin-top: 6%;
    cursor: pointer;
}

@media(max-width: 650px){

    .sidebar-wrapper{
        width: 300px !important;
    }
}